# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/fixtures/private
/tmp

istools_*.deb
istools-*.rpm
/packaging/deb/istools/usr
/islint
/iscov
/islabel
/fixtures
NOTES.md
/assetutil/bindata.go
kind_string.go
.vagrant/
vagrant.key
